<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <style>
        .card:hover {
          transform: scale(1.2);
        }

        #c:hover{
            color: #0C73EB;
        }

    </style>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ed8bb72b2a.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <nav class="navbar navbar-expand-lg navbar-dark" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.8996848739495799) 0%, rgba(0,0,0,0.9024859943977591) 35%, rgba(1,16,22,0.8996848739495799) 100%);">
        <div class="container-fluid" style="margin-left: 150px;">
            <div><img src="https://assets.cdn.ifixit.com/static/images/footer/fist-circle-white.png"></div>
            <b><a class="navbar-brand" style="font-family: Audiowide, sans-serif" href="http://127.0.0.1:8000/webapp/index/"><i>[R] Smart</i></a></b>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search for products, brands and more" aria-label="Search" style="width: 500px;">
                <!-- <button class="btn btn-outline-light" type="submit">Search</button> -->
            </form>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown me-5 ms-5">
                    <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false"><b><i>Login</i></b></a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <center><li><a class="dropdown-item" href="http://127.0.0.1:8000/webapp/adminlogin/">Admin Login</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/webapp/storelogin/">Store Login</a></li>
                        <li><a class="dropdown-item" href="http://127.0.0.1:8000/webapp/userlogin/">User Login</a></li></center>
                    </ul>
                    </li>
                </ul>
                <b><a class="navbar-brand" style="font-family: Audiowide, sans-serif" href="http://127.0.0.1:8000/webapp/index/"><i>Solution for all your device needs</i></a></b>
            </div>
        </div>
    </nav><br>
<body background="https://img.freepik.com/free-photo/pastel-blue-vignette-concrete-textured-background_53876-102637.jpg?w=996&t=st=1676043835~exp=1676044435~hmac=06c7b5db023b85230dcdf974cdff89a12a55438bd879b475d9b5b34ca4762420">

<div align="center">
    <h3>About Us</h3>
<img src="https://guide-images.cdn.ifixit.com/igi/Mi2mOodghcYREyGO.standard">
    <h6><strong>Our mission is to help everyone to fix their mobile devices from the comfort of their homes. Let’s fix the world together.</strong></h6>
<p>We provide the best in class experience in mobile servicing. Our complete online procedure saves your valuable time, nowadays as we all go on with our daily life little things demand our valuable time, most times we postpond something so that we can be elsewhere. We are here to ensure this situation doesn't occur with repairing your mobile devices.</p>
</div><br><br>

<div align="center">
<h3>Troubleshooting</h3>
    <img src="https://guide-images.cdn.ifixit.com/igi/AlBf2nbnB3mvZXHQ.standard">
    <h6><strong>Diagnose what’s wrong with your device.</strong></h6>
<p>So your iPhone doesn’t turn on or your ice maker isn't working. Check your respective device page for relevant Troubleshooting wikis, or head over to our Answers forum to figure out what’s wrong with it. You can search for the issue and find existing solutions from our community of experts, or pose your question to the community and they’ll answer you directly.</p>
</div><br><br>

<div align="center">
<h3>Quality parts & tools</h3>
    <img src="https://guide-images.cdn.ifixit.com/igi/f4yWtDiEulCJgUWt.standard">
    <h6><strong>Quality parts and tools, backed by our Lifetime Warranty.</strong></h6>
<p>Not all replacement parts are created equal. We’ve spent more than a decade vetting sources and suppliers, and each part is rigorously tested in-house. Our tools are designed using data from thousands of repair guides, and we even reverse-engineered the first Pentalobe screwdriver from an iPhone teardown. We’re so confident in our products that they’re backed by our Lifetime Warranty.</p>
</div><br><br>

<div align="center">
<h3>Why fix things?</h3>
    <img src="https://guide-images.cdn.ifixit.com/igi/xUgbNoIY3lB1lnOS.standard">
<p>Repair isn’t just about doing it yourself. We’re fighting for fairer prices, broader access, and better quality repairs for all. Learn more about Right to Repair.</p>
</div>

</body>
    <div class="container-fluid text-white mt-5" style="background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,0.8996848739495799) 0%, rgba(0,0,0,0.9024859943977591) 35%, rgba(1,16,22,0.8996848739495799) 100%);">
        <div class="row">
            <div align="center" style="color: rgb(2,0,36);">-</div>
            <div class="col-lg-2 col-md-4 col-sm-10"><br>
                <h6>ABOUT</h6><br>
                <p>Contact Us</p>
                <p>About Us</p>
                <p>Careers</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-10"><br>
                <h6>HELP</h6><br>
                <p>Payments</p>
                <p>Shipping</p>
                <p>FAQ</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-10"><br>
                <h6>POLICY</h6><br>
                <p>Terms of Use</p>
                <p>Security</p>
                <p>Privacy</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-10"><br>
                <h6>SOCIAL</h6><br>
                <p>Facebook</p>
                <p>Twitter</p>
                <p>YouTube</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-10 border-start border-dark"><br>
                <h6>Mail Us:</h6><br>
                <p>rsmartpvtltd@gmail.com</p><p>
                    R Smart Private Limited,
                    Hybrid Towers,
                    Bengaluru, 560103,
                    Karnataka, India</p>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-10"><br>
                <h6>Registered Office Address:</h6><br>
                <p>R Smart Private Limited,
                    Hybrid Towers,
                    Bengaluru, 560103,
                    Karnataka, India
                    CIN : U51109KA2012PTC066107
                    Telephone: 044-45614700</p>
            </div>
        </div>
        <p align="center">© RSmart — Licensed under Creative Commons</p>
    </div>
</html>